*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}
.container{
    width: 1341px;
    margin: 0 auto;
}
.subtitle{
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    color: #289BDE;
    text-align: center;
}
.title{
    font-size: 40px;
    font-weight: 600;
    line-height: normal;
    color: #071B27;
    text-align: center;
    margin-top: 4px;
}
/* ====================Navbar start here========= */
#navbar{
    padding: 13px 0; 
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}
.nav_wrapper{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}
 .menu ul .menu_item a{
    color: #fff;
    font-size: 16px;
    line-height: normal;
    font-weight: 500;
    text-transform: capitalize;
    transition: all linear 0.3s;
}
.menu ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.menu ul .menu_item a:hover{
    color: #289BDE;;
}
.nav_btn{
    display: flex;
    column-gap: 18px;
    justify-content: end;
}
.nav_btn a{
    display: inline-block;
    padding: 9px 15px;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: linear 0.3s;
}
.nav_btn a:last-child{
    padding: 9px 45px;
}
.nav_btn a:hover{
    background-color: #289BDE;
    border: 1px solid #289BDE;
}
/* ====================Navbar end here=========== */

/* ====================Banner start here========= */
#banner{
    padding: 277px 0 350px 0;
    background-color: #071B27;
}
.banner_wrapper h4{
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.banner_wrapper h1{
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    max-width: 1117px;
    margin: 0 auto;
}
.banner_btn{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    column-gap: 40px;
}
.banner_btn a{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    padding: 20px 30px;
    display: inline-block;
    transition: linear 0.3s;
}
.banner_btn a:hover{
    background-color: #289BDE;
    border: 1px solid #289BDE;
}
.banner_emoji{
    position: relative;
}
.banner_emoji .banner_emoji_left{
    position: absolute;
    width: 355px;
    left: -200px;
    top: -83px;
    transform: translateY(-100%);
}
.banner_emoji_rigt{
    position: absolute;
    width: 386px;
    top: -80px;
    right: -210px;
    transform: translateY(-100%);
}
/* ====================Banner end here========= */

/* =================Banner card start here======== */
.card_wrapper{
    display: flex;
    column-gap: 32px;
    justify-content: space-between;
    margin: 0 35px;
    margin-top: -188px;
}
.card_item1{
    width: 343px;
    height: 432px;
    border-radius: 15px;
    overflow: hidden;
}
.card_item1 img{
    object-fit: cover; 
    width: 100%;
    height: 100%;
 }
.card_item2{
    width: 417px;
    position: relative;
}
.card_item_inner1{
    width: 234.386px;
    height: 281.263px;
    border-radius: 12px;
    margin-top: 50px;
    overflow: hidden;
}
.card_item_inner1 img{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}

.card_item_inner2{
    width: 299.493px;
    height: 140.632px;
    border-radius: 8px;
    position: absolute; 
    top: -19px;
    left: 117px;
    overflow: hidden;
}
.card_item_inner2 img{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
.card_item3{
    width: 445px;
    height: 385px;
    border-radius: 12px;
    margin-top: 47px;
    overflow: hidden;
}
.card_item3 img{
    object-fit: cover; 
    width: 100%;
    height: 100%;
}
/* =================Banner card end here========== */

/* About us section */
.about-info {
    max-width: 610px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
}

.about-info h4 {
    color: #289BDE;
    font-size: 20px;
    font-weight: 500;
}

.about-info h1 {
    font-size: 40px;
    font-weight: 600;
    margin-top: 5px;
}

.about-info p {
    font-size: 20px;
    color: #666;
}

.about-wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.about-wrapper .item-child:nth-child(even) {
    flex-direction: row-reverse;
}

.about-wrapper .item-child {
    display: flex;
    align-items: center;
    gap: 100px;
}

.about-wrapper .item-child .cover-image {
    width: 455px;
    height: 485px;
}

.about-wrapper .item-child .texts {
    width: 785px;
}

.about-wrapper .item-child .texts h1 {
    color: #07003B;
    font-size: 42px;
    font-weight: 700;
}

.about-wrapper .item-child .texts p {
    font-size: 20px;
    color: #666;
    line-height: 40px;
}

.about-wrapper .item-child .texts p>span {
    font-weight: 700;
    color: #289BDE;
}